node_modules
config/default.json
controllers/roles.controller.js
controllers/user-role.controller.js
controllers/users_address.controller.js
controllers/users.controller.js

models/roles.model.js
models/user-role.model.js
models/users.address.model.js
models/users.model.js

routes/roles.route.js
routes/user-role.route.js
routes/users_address.route.js
routes/users.route.js
